header {
  background-color: #ffffff;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 24px 32px;
  z-index: 100;
}

.nav-btn {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: "#3E3E4B";
  font-size: 16px;
  box-sizing: border-box;
  padding: 8px 16px;
  color: #3e3e4b;
  cursor: pointer;
}

.nav-btn:hover {
  color: #28aa47;
  border-radius: 100px;
  background-color: #f5f6fa;
}

.header-btns {
  display: flex;
  gap: 16px;
}

.header-tg-btn,
.header-whatsapp-btn {
  background-color: #f5f6fa;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.header-tg-btn {
  background-image: url(../../../public/tg.png);
}

.header-tg-btn:hover {
  background-color: #33a6dc;
}

.header-whatsapp-btn {
  background-image: url(../../../public/whatsapp.png);
}

.header-whatsapp-btn:hover {
  background-color: #45c459;
}

.header-booking-btn {
  background-color: #3e3e4b;
  height: 40px;
  font-weight: 400;
  box-sizing: border-box;
  padding: 8px 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f6fa;
  border-radius: 100px;
  cursor: pointer;
}

.burger {
  display: none;
}

#menu__toggle {
  opacity: 0;
}

@media (max-width: 1280px) {
  .nav-btn {
    display: none;
  }

  .burger {
    display: block;
  }

  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: flex-end; /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  /* контейнер меню */
  .menu__box {
    display: block;
    box-sizing: border-box;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 16px;

    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    color: #3e3e4b;
    font-size: 32px;
    line-height: 40px;
    height: 104px;
    padding: 32px 64px;
    box-sizing: border-box;
  }

  .menu__box::after {
    content: "Меню";
    position: absolute;
    top: 24px;
    left: 88px;
    color: #3e3e4b;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }

  .menu__wrapper {
    background-color: #f5f6fa;
    border-radius: 24px;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 12px;
  }
}
